@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;700&display=swap');

:root {
    --gray-bg: #795548;
    --mid-gray: #a27463;
    --light-gray: #c8ada3;
    --smoke-white: #f4f4f4;
    --smoke-whitedark: #d2d2d2;
    --white: #fff;
    --light-black: #555;
}

body {
    font-family: 'Work Sans', sans-serif;
}

h2, h3 {
    color: var(--light-black); 
}

/*********
padding top
bottom class
*********/
.p-80 {
    padding: 80px 0;
}

.p-110 {
    padding: 110px 0;
}

/*********
toggle icon
*********/
.line1, .line2, .line3 {
    background: var(--gray-bg);
    height: 3px;
    width: 30px;
    margin: 5px;
}

.navbar a.navbar-brand {
    font-weight: 500;
}


li.nav-item a {
    text-transform: uppercase;
    font-size: 1rem;
    /* padding-left: 15px !important; */
    padding-right: 27px !important;
    font-weight: 500;
}

ul.user-sec li a {
    color: var(--light-gray);
}

/****************
    banner
****************/
.banner {
    background: var(--smoke-white);
    /* background: rebeccapurple; */
    outline: none !important;
    border: none !important;
}

.banner__img {
    height: 90vh;

}

.banner__img img {
    position: relative;
    left: 290px;
    top: -20px;
    
}

.banner__img .banner__1,
.banner__img .banner__2,
.banner__img .banner__3
 {
    outline: none;
}

.banner__img .caption {
    position: absolute;
    top: 140px;
    left: 10%;
}

.banner__img .caption h2 {
    font-size: 3.5rem;
    letter-spacing: 5px;
}

.banner__img .caption h3 {
    letter-spacing: 5px;
}

.banner__img .caption p {
    font-size: 15px;
    font-weight: 200;
    margin-top: 30px;
    margin-bottom: 30px;
    color: var(--mid-gray);

}

.banner__img a.explore-btn {
    background: var(--mid-gray);
    color: var(--white);
    width: 180px;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 12px;
    border-radius: 0;
    padding: 10px 0;
}

.banner__img a.catalog-text {
    color: var(--light-black);
    font-size: 15px;
    font-weight: 200;
    text-decoration: none;
}

.banner__img .caption svg {
    height: 15px;
}

/*** vertical text ******/
.banner .vertical__div {
    position: absolute;
    bottom: 15px;
    left: 10px;
    
}

.banner .vertical__div p.vertical__text {
    color: var(--mid-gray);
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    text-transform: uppercase;
    font-size: 14px;
    position: relative;
    bottom: 50px;
    left: -48px;
}

.social__icons svg {
    background: var(--mid-gray);
    height: 25px;
    width: 25px;
    margin: 5px;
    padding: 5px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    color: var(--white);
    cursor: pointer;
}


/****************
    slick 
    customise
****************/
.slick-dots li button:before {
    font-size: 50px;
    color: var(--light-gray);
}

.slick-dots li.slick-active button:before {
    color: var(--mid-gray);
}

.slick-prev:before, .slick-next:before {
    color: var(--mid-gray);  
}

.slide-arrow{
    position: absolute;
    bottom: 10px;
  } 

/****************
   Featured 
   collections
****************/
.collection {
    background: var(--smoke-white);
}

.collection .collection__title {
    display: flex;
}

.title__left-text {
    font-size: 2.2rem;
    font-weight: 600;
}

.title__right-text {
    color: var(--smoke-whitedark);
    font-size: 6rem;
    font-weight: 900;
    opacity: 0.2;
    letter-spacing: -7px;
    word-spacing: 10px;
    position: relative;
    top: -45px;
}

.collection__item__left {
    background: var(--white);
    /* padding: 30px 20px 0; */
    height: 462px;
    padding: 25px 35px 0px;
    
}

.collection__item__left h2.title,
.collection__item__left p.sub__title {
    color: var(--mid-gray); 
}

.collection__item__left a.more-icon {
    position: relative;
    bottom: -43px;
    font-size: 15px;
    font-weight: 200;
    text-decoration: none;
    color: var(--mid-gray);
}

.collection__item__left img {
    position: relative;
    left: -52px;
    max-height: 258px;
    bottom: -92px;
}

.collection__item__right img {
    max-height: 150px;
    float: right;
}

.collection__item__right .item {
   padding: 25px 35px 0px;
}

.collection__item__right .item a.more-text {
    font-size: 15px;
    font-weight: 200;
    text-decoration: none;
    color: var(--mid-gray);
    position: relative;
    top: 100px;
}

.collection__item__right .item a.more-text svg,
.collection__item__left svg {
    height: 15px;
}

.collection__item__right .sec__item h5.title, 
.collection__item__right .trd__item h5.title {
    color: var(--mid-gray);
}




.collection__item__right .first__item,
.collection__item__right .frth__item {
    background: var(--mid-gray);
}

.collection__item__right .sec__item,
.collection__item__right .trd__item {
    background: var(--white);
}

.catalog__btn a.full__width__btn {
    background: var(--mid-gray);
    margin-top: 20px;
    padding: 15px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}


  